[user]
	name = {git_user_name}
	email = {git_user_email}
[color]
	ui = true
[push]
	default = simple
[alias]
	l = log --oneline --all --decorate --graph
	s = show --name-only
	taglist = log --tags --simplify-by-decoration --pretty='format:%cs %h %D'
